<div class="header-default">
    <div class="container-fluid">
        <a href="/#home"><img src="svg/seb_coc.svg" style="float: left"/>
        <a href="/#profile" class="btn-profile">MEU PERFIL</a>
        <a href="/#students" class="btn-profile">ESTUDANTES</a>
        <a href="/#home" class="btn-profile">COLABORADORES</a>
        <a href="/#discount" class="btn-profile">DESCONTOS PARA BOLSA</a>
        <!-- <a href="/#resume" class="btn-profile">RESUMO CONCLUSIVO</a> -->
        <a href="/#soluction" class="btn-profile">SOLUÇÕES EDUCACIONAIS</a>
        <div class="pull-right">
            <button class="btn btn-default btn-logout" ng-click="logout()" style="margin-top: 21px">SAIR <i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
