<div id="modal-adm-change-password">
  <i class="glyphicon glyphicon-remove" ng-click="$dismiss()"></i>
    <div class="modal-body">
      <div class="row">
        <div class="text-center" ng-hide="userVO.pass">
          <span>Deseja gerar uma nova senha para</span>
          <br><b>{{userVO.userName}}</b> ?<br />
          <button type="button" class="btn btn-create btn-no" ng-click="$dismiss()">NÃO</button>
          <button type="button" class="btn btn-create btn-yes" ng-click= "generatePass();">SIM</button>
        </div>
        <div class="text-center" ng-show="userVO.pass">
            <span>A nova senha gerada para <b>{{userVO.userName}}</b> é:</span>
            <p>
              {{userVO.pass.newPassword}}
            </p>
        </div>
      </div>
    </div>
</div>
