<div class="modal-header">
    <span>Alterando a senha</span>
</div>
<form ng-submit="changePass()">
    <div class="modal-body">
        <div class="input-group">
            <label for="oldPassword">Antiga senha:</label>
            <input type="password" class="form-control" id="oldPassword" ng-model="pass.oldPassword" required>
        </div>
        <div class="input-group">
            <label for="newPassword">Nova senha:</label>
            <input type="password" class="form-control" id="newPassword" ng-model="pass.newPassword" required>
        </div>
        <div class="input-group">
            <label for="newPassword">Repita a nova senha:</label>
            <input type="password" class="form-control" ´id="newPassword" ng-model="newPassword" required>
        </div>
        <div class="alert alert-danger" role="alert"
             ng-show="pass.newPassword != newPassword && pass.newPassword != null && newPassword != null">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Nova senha não confere, verifique e tente novamente!
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-create" style="width: 125px;margin-top: 0;background-color: silver;border: silver;" ng-click="$dismiss()">Cancelar</button>
        <button type="submit" class="btn btn-create" style="width: 125px;margin-top: 0;" ng-disabled="pass.newPassword != newPassword">Salvar</button>
    </div>
</form>
